@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

*{
    font-family: "BUNGEE";
    outline: 0;
}
body{
    background-color: #161616;
    margin: 0;
}

/*----------Header---------*/

.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: black;
    height: 70px;
    padding: 15px 30px 15px 30px;
    box-shadow: 0 0 55px black;
}
.header-navbar a{
    box-shadow: 0 0 12px black;
}
.logo-navbar{
    height: 70px;
    width: 70px;
}
.link-home, .link-conf{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #212121;
    padding: 5px;
    border-radius: 50rem;
    height: 50px;
    width: 50px;
}
.home-navbar{
    height: 60%;
    width: 60%;
    margin-bottom: 5px;
    filter: grayscale(1);    
}
.conf-navbar{
    height: 70%;
    width: 70%;
    filter: grayscale(1);
}
.link-home:hover .home-navbar, .link-conf:hover .conf-navbar{
    filter: grayscale(0);
    transition: .6s;
}
.link-listar, .link-cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #212121;
    padding: 15px 25px;
    border-radius: 50rem;
    text-decoration: none;
    color: #a5a5a5;
}
.link-listar:hover, .link-cadastrar:hover{
    color: #0cc0df;
    transition: .6s;    
}
.link-listar:active, .link-cadastrar:active, .link-home:active, .link-conf:active{
    background: #000000;
    transform: scale(0.90);
    transition: .6s; 
}
.decoração-navbar{
    background-image: linear-gradient(black 50%,rgb(12, 12, 12));
    height: 30px;
    width: 100vw;
    box-shadow: 0 0 35px;
}

/*----------Header---------*/


/*----------Home---------*/

.main-home{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 87vh;
}
.main-home img{
    height: 600px;
    filter: opacity(0.3);
    transition: .4s;
}
.main-home img:hover{
    filter: opacity(1);
}

/*----------Home---------*/


/*----------Cadastrar---------*/

.container-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 87vh;
}
.container-cadastro h2{
    font-size: 60px;
    color: white;
}
.dados-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #2b2b2b;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}
.dados-cadastro input{
    width: 100%;
    margin: 5px;
    font-size: 22px;
    padding: 10px;
    border: none;
    border-bottom: solid 2px rgb(255, 255, 255);
    background: transparent;
    color: white;
}
.dados-cadastro input::placeholder{
    color: white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1);
}
.dados-cadastro button{
    width: 105%;
    padding: 10px;
    font-size: 25px;
    border-radius: 50rem;
    margin-top: 20px;
    background: white;
    border: none;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 15px black;
    transition: .4s;
}
.dados-cadastro button:hover{
    background-color: #0cc0df;
    color: white;
}
.dados-cadastro button:active{
    transform: scale(0.9);
}


/*----------Cadastrar---------*/


/*----------Listar---------*/

.h4-listar{
    text-align: center;
    width: 100vw;
    margin: 0;
    font-size: 40px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-listar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    padding: 10px;
}
.div-input{
    position: relative;
    display: flex;
    align-items: center;
    
    width: auto;
    margin-right: 10px;
}
.input-group{
    display: flex;
}
.form-listar input{
    border: none;
    padding: 10px;
    border-radius: 50rem;
    box-shadow: 0 0 15px black;
}
.form-listar button{
    background: white;
    color: black;
    border-radius: 50rem;
    border: none;
    box-shadow: 0 0 15px black;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    transition: .4s;
}
.form-listar button:hover{
    background-color: #b8b8b8;
}
.form-listar button:active{
    transform: scale(0.85);
}  
.lupa-pesquisa{
    position: absolute;
    
    height: 25px;
    z-index: 999;
    pointer-events: none;
    right: 10px;
}
.container-listar{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
}
.tabela-listar{
    background: #2b2b2b;
    border: none;
    padding: 25px 17px 25px 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin: 5px 0;
    text-align: center;
}
.container-titulos{
    background-color: rgb(0, 0, 0);
    border: solid 2px yellow;
}
.titulos-listar{
    background-color: white;
    margin: 0;
    width: 20%;
    height: 50px;
    box-shadow: 0 0 15px black;
    font-size: 15px;
}
.dados-listar{
    background-color: rgb(218, 218, 218);
    margin: 0;
    width: 20%;
    height: 50px;
    font-size: 15px;
    box-shadow: 0 0 10px black;
}
.btn-alterar, .btn-excluir{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 3px 0 3px 17px;
    transition: .4s;
}
.btn-excluir{
    background: red;
    cursor: pointer;
}
.btn-alterar{
    background: orange;
}
.btn-alterar img{
    height: 20px;
}
.btn-excluir img{
    height: 20px;
}
.btn-excluir:hover, .btn-alterar:hover{
    filter: brightness(0.5);
}
.btn-excluir:active, .btn-alterar:active{
    transform: scale(0.8);
}
/*----------Listar---------*/


/*----------Alterar---------*/



/*----------Alterar---------*/